body{

   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   margin: 0%;

}

/*Шапка сайта*/

.header{
    position: relative;
    background: #2d7053;
    width: 750px;
    height: 235px;
}

.circle{

    position: absolute;
    width: 150px;
    height: 150px;
    background: #ffffff;
    border-radius: 75px;
    margin-left: 42px;
    margin-top: 40px;
}

.name{
    position: absolute;
    margin-left: 200px;
    margin-top: 7px;
}

.list{
    color: #ffffff;
    font-size: 27px;
    list-style-type: none;
}

.menu {
    position: absolute;
    display: block;
    width: 84px;
    height: 27px;
    margin: 93px 630px 0px;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;

}

.menu:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    border-top: 8px solid #fff;
}

/*background*/
.fon{

    position: relative;
}
.zapis{
    color: #ffffff;
    font-size: 24px;
    background-color: #cb9223;
    padding: 15px 32px;
    text-align: center;
    position: absolute;
    margin: 360px 500px 0 180px;
}

/*Лицо и ФИО*/

.face{

position: relative;
margin: 50px 0px 0px 40px;

}

.name_to{

position: absolute;
margin: 60px 0px 0px 330px;


}

.bio{

text-align: left;
margin-right: 890px;
margin-left: 40px;
margin-top: 40px;

}

.why{

    margin-left: 40px;
}

.list_2{

    margin-left: -20px;
}

.zapis_2{
    color: #ffffff;
    font-size: 24px;
    background-color: #cb9223;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    margin: 30px 500px 0 180px;
}

a {

    text-decoration: none;
    color: #ffff
}

.bottom{

    display: inline-block;
    background: #888888;
    width: 750px;
    height: 153px;
    margin-top: 60px;
}

.circle_2{

    position: absolute;
    width: 90px;
    height: 90px;
    background: #ffffff;
    border-radius: 45px;
    margin-left: 42px;
    margin-top: 32px;

}

.number{
    position: absolute;
    font-size: 18px;
    color: #ffffff;
    margin: 45px 60px 0px 550px;
}

.mail{

    position: absolute;
    font-size: 18px;
    color: #ffffff;
    margin: 100px 60px 0px 550px;

}

.adress{

    position: absolute;
    font-size: 18px;
    color: #ffffff;
    margin: 102px 60px 0px 255px;


}