body {
  margin: 0;
}

.logo {
  height: 5rem;
  margin-top: 2rem;
}

/* Горизонтальное меню */

.header__nav {
  width: 1280px; /* задаем ширину бэка навигации */
  margin: 0 auto; /* убираем внешние отступы, чтобы бэк был по центру */
}

.header__nav::before {
  /* делаем бэк навигации */
  content: "";
  display: block;
  height: 3.5rem;
  width: 100%;
  background: #35444f;
  position: absolute;
  left: 0rem;
  z-index: -1; /* делаем так, чтобы бэк был под текстом */
}

.header__nav ul { /* убираем все отступы которые по умолчанию */
  margin: 0 0 0 4rem;
  padding: 0%;
  height: 2.5rem;
}

.header__nav-items {
  list-style-type: none;
  float: left; /* делаем так, чтобы меню стало горизонтальным */
}

li.header__nav-items > a[href] {
  color: #ffff;
  text-decoration: none;
  display: block;
  height: 3.5rem; /* делает всю ссылку кликабельной */
  padding: 0 4rem;
  font-size: 1.3rem;
  line-height: 3.5rem; /* выравнивает меню по центру бэка. Значение должно быть равно высоте бэка */
  transition: all 0.7s;
}

li.header__nav-items > a:hover {
  border-left: 1px solid #818181;
  border-right: 1px solid #818181;
  background-color: #222f3a;
}

/* Вертикальное меню */

.main__nav {
  margin: 4rem 1rem;
  padding: 0rem 0;
  width: 290px;
  height: 400;
  border: 3px solid #35444f;
  position: absolute;
}

.main__nav ul {
  margin-top: -0.4rem;
  margin-bottom: 0;
  padding: 0;
}

.main__nav-items {
  list-style-type: none;
  padding: 0rem;
  margin: 0%;
  display: block;
}

.main__nav-items > a {
  display: block;
  text-decoration: none;
  color: #485863;
  height: 1rem;
  line-height: 1rem;
  font-size: 1.3rem;
  padding: 1.5rem 2rem;
}

/* Вопрос о позиционировании текста и пересечения верхней границы */
.main__nav-items > a:hover {
  background-color: #dbdbdb;
  color: black;
  text-align: center;
}

/* Main logo */
.logo__main {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 0 25rem;
  border: 3px solid #35444f;
  width: 885px;
  height: 529px;
}

.text {
  display: inline-block;
  margin-top: 40rem;
  margin-left: 26rem;
  width: 850px;
  text-align: left;
}

/* Нижняя часть сайта */

.footer__nav {
  margin: 0% auto;
  width: 1280px;
}

.footer__nav::before {
  content: "";
  display: block;
  position: absolute;
  height: 3.5rem;
  width: 100%;
  left: 0%;
  z-index: -1;
  background: #b4b7ba;
}

.footer__nav ul {
  margin: 0 0 0 2rem;
  padding: 0%;
  height: 2.5rem;
}

.footer__nav-items {
  list-style: none;
  float: left;
}

.footer__nav-items > a {
  color: #0c1927;
  display: block;
  text-decoration: none;
  height: 3.5rem;
  line-height: 3.5rem;
  padding: 0 2rem;
  font-size: 1.3rem;
  transition: all 0.7s;
}

.footer__nav-items > a:hover {
  color: #3181a6;
}

.copyright {
  display: inline;
  list-style: none;
  height: 3.5rem;
  line-height: 3.5rem;
  font-size: 1.3rem;
  margin-left: 15.7rem;
}
